Week 2 DTD/In class/dtd/External/song.dtd

<!ELEMENT SONG (TITLE,COMPOSER+,PRODUCER,PUBLISHER,LENGTH?,YEAR,address,ARTIST*,ab) >
        <!ELEMENT TITLE (#PCDATA) >
        <!ELEMENT COMPOSER (#PCDATA) >
        <!ELEMENT PRODUCER (#PCDATA) >
        <!ELEMENT PUBLISHER (#PCDATA) >
        <!ELEMENT LENGTH (#PCDATA) >
        <!ELEMENT YEAR (#PCDATA) >
        <!ELEMENT address (street,country, ( zipcode | postalcode) ) >
        <!ELEMENT street (#PCDATA) >
        <!ELEMENT country (#PCDATA) >
        <!ELEMENT zipcode (#PCDATA) >
        <!ELEMENT postalcode (#PCDATA) >
        <!ELEMENT ARTIST (#PCDATA | city )* >
        <!ELEMENT city (#PCDATA) >
        <!ELEMENT ab EMPTY >
        <!ATTLIST
                TITLE songid ( aa | bb | cc) #REQUIRED


        >